<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jugador1" class="com.explorandospring.jugadorxml.beans.Jugador">
		<property name="id" value="1"></property>
		<property name="nombre" value="Lina"></property>
		<property name="equipo" ref="barcelona"></property>
		<property name="camiseta" ref="camiseta1"></property>
	</bean>
	
	<bean id="barcelona" class="com.explorandospring.jugadorxml.beans.Barcelona">
	</bean>
	
	<bean id="juventus" class="com.explorandospring.jugadorxml.beans.Juventus">
	</bean>
	
	<bean id="camiseta1" class="com.explorandospring.jugadorxml.beans.Camiseta">
		<property name="id" value="1"></property>
		<property name="numero" value="10"></property>
		<property name="marca" ref="marca1"></property>
	</bean>
	
	<bean id="marca1" class="com.explorandospring.jugadorxml.beans.Marca">
		<property name="id" value="1"></property>
		<property name="nombre" value="Marca 1"></property>
	</bean>
</beans>
